@import url("./font.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.4s ease-in forwards;
}

@media (min-width: 375px) {
  .App {
    width: 430px;
  }
}

@media (max-width: 500px) {
  .App {
    width: 100vw;
  }
}

#root {
  font-family: "Pretendard-Regular";
}

.App {
  min-height: 100vh;
  background-color: #161616;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #262626;
}

::-webkit-scrollbar {
  display: none;
}
